#logo{
    position: relative;
}

a{
    width: 87%;
    text-align: end;
}

p{
    /* color: #0F0F0F; */
}

input:focus{
    outline: none;
    /* color: #0F0F0F; */
}

button:hover{
    background-color: #000814;
    color:#FFC300
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    /* AJUSTAR */
    body {
    display: block;
    }
}