.username{
    font-size: xx-large;
    font-weight: 600;
}

.badge{
    margin-top: 1vh;
    margin-right: 0.5vw;
    padding: 1vh 1vw;
    background-image: linear-gradient(transparent, black);
    color: #FFC300;
    border-radius: 2vw;
    font-size: small;
    width: fit-content;
}