.username{
    font-size: xx-large;
    font-weight: 600;
}

.badge{
    margin-top: 1vh;
    margin-right: 0.5vw;
    background: #1c212c;
    padding: 2% 4%;
    color: #FFC300;
    border-radius: 2vw;
    font-size: small;
    width: fit-content;
}