@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
  height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black-gradient: linear-gradient(
    144.39deg,
    #949494 -278.56%,
    #5a5a5a -78.47%,
    #1a1a1a 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(71, 71, 71, 0.1);
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  color: aliceblue;
}

button:hover{
  background-color: #000814;
  color:#C880B7;
}

input:focus{
  outline: none;
}

h2{
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
  .mobile{
      display: none;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bg-primary {
  background-color: #1A1A1A;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fffae8 0.89%,
    #ffeeb7 17.23%,
    #ffe48d 42.04%,
    #ffd95c 55.12%,
    #ffd036 71.54%,
    #ffc300 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-yellow-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fffae8 0.89%,
    #ffeeb7 17.23%,
    #ffe48d 42.04%,
    #ffd95c 55.12%,
    #ffd036 71.54%,
    #ffc300 100%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #949494 -278.56%,
    #5a5a5a -78.47%,
    #1a1a1a 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #949494 -278.56%,
    #5a5a5a -78.47%,
    #1a1a1a 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #5a5a5a 0%, #1a1a1a 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.gray__gradient {
  background: linear-gradient(180deg, #5a5a5a 0%, #1a1a1a 100%);
  filter: blur(123px);
}

.yellow__gradient {
  background: linear-gradient(90deg, #ffeeb7 0%, #ffc300 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
